//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #D51130;
$body-bg: #F0F0F0;
$secondary: #FF8C39;
$info: #3971FF;
$base-font-size: 13px !default;
