/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import '@core/scss/vue/libs/vue-select.scss';
@import '@core/scss/vue/libs/vue-flatpicker.scss';

:root {
  --header-with-breadcrumb-height: 190px;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.nav.nav-pills .nav-item {
  background: #F0f0f0;
}

.btn > img {
  margin-right: 5px;
}

.btn-xs {
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}


// Edit Entity Page

.custom-card {
  padding: 0px 10px 0px 10px
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0px 1px 0px;
  margin-bottom: 10px;
}

.first-bloc img {
  margin-right: 4px;
}

// vue select errors
.v-select.error {
  .vs__dropdown-toggle {
    border-color: $danger;
  }
}

// Datatables
.b-table-sticky-header {
  max-height: 70vh !important;

  th {
    white-space: nowrap;
  }
}

.vs__selected-options {
  max-width: calc(100% - 25px); /* change this to `- 40px` if you're supporting a `clearable` field; I was not */
}

.vs__selected {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 35rem;
  overflow: hidden;
}

// tables

table[aria-busy="true"] .b-table-empty-row {
  display: none;}

.b-table-empty-row  div {
  text-align: center;
}

