AuthType Basic
AuthName "restricted area"
AuthUserFile /var/www/html/kim_pro_frontend.htpasswd
require valid-user

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /kim_pro_frontend
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /kim_pro_frontend [L]
</IfModule>

# DISABLE CACHING
<IfModule mod_headers.c>
#  <FilesMatch "\.pdf$">
      Header set Cache-Control "no-store, max-age=60"
#  </FilesMatch>
</IfModule>
