.custom-card{
  padding: 0px 10px 0px 10px
}

.header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0px 1px 0px;
  margin-bottom: 10px;
}
.first-bloc img {
  margin-right: 4px;
}